.container{
  margin:auto;
  text-align: center;
}

/* TITLE */
h2{
  color: white;
  font-size: 40pt;
  padding-top: 50px;
  font-weight: bold;
}


.crystalDisplay{
  height: 200px;
  width: 200px;
  margin:auto;
}

.row{
  background-color: #9fdf9f;
  border: 1px solid white;
  height: 200px;
}

#numDisplays{
  text-align: left;
  font-size: 32pt;
  font-weight: bold;
}

#scoreDisplays{
  font-size: 24pt;
  color: white;
  font-weight: bold;
}

#targetNumberDisplay{
  color: red;
}

#playerNumberDisplay{
  color: green;
}


#gameIntroFinal{
  font-weight: bold;
  text-align: center;
}
