.container{
  margin:auto;
  background-color:blue;
  text-align: center;
}

.crystalDisplay{
  height: 200px;
  width: 200px;
  margin:auto;
}

.row{
  background-color: orange;
  border: 1px solid black;
  height: 200px;
}

#numDisplays{
  text-align: left;
  font-size: 28pt;
}

#scoreDisplays{
  font-size: 24pt;
}

#targetNumberDisplay{
  color: red;
}

#playerNumberDisplay{
  color: green;
}

h2{
  color: white;
  font-size: 40pt;
}
